# (c) 2026 JFrog Ltd.
apiVersion: externaldata.gatekeeper.sh/v1beta1
kind: Provider
metadata:
  name: jfrog-evidence-opa-provider
spec:
  url: https://jfrog-evidence-opa-provider.gatekeeper-system:8443
  timeout: 30
  caBundle: <OPA Gatekeeper server CA>