apiVersion: v1
kind: Service
metadata:
  name: jfrog-image-digest-provider
  namespace: gatekeeper-system
spec:
  ports:
  - port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    run: jfrog-image-digest-provider
  sessionAffinity: None