name: build-provider
on:
    workflow_dispatch: 

permissions: {}

jobs:
    build-publish: 
        runs-on: ubuntu-latest
        permissions: 
            contents: read
            attestations: write
            packages: write
            id-token: write
        env:
            REGISTRY: ghcr.io
            IMAGE_NAME: ${{ github.repository }}
        steps:
          - name: Checkout
            uses: actions/checkout@v3
          - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3  
          - name: Login to GitHub Container Registry
            uses: docker/login-action@v3
            with:
              registry: ${{ env.REGISTRY }}
              username: ${{ github.actor }}
              password: ${{ secrets.GITHUB_TOKEN }}
          - name: Build Docker image    
            uses: docker/build-push-action@v5
            id: build
            with:
                context: provider
                file: provider/Dockerfile
                push: true
                platforms: linux/amd64, linux/arm64
                tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:dev
          - name: Attest Build Provenance
            uses: actions/attest-build-provenance@v3
            with:
                subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
                subject-digest: ${{ steps.build.outputs.digest }} 